# Environment
ENVIRONMENT=development

# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/cronos
SQLALCHEMY_ECHO=true

# Security
SECRET_KEY=change-me-with-at-least-32-chars
TOKEN_EXPIRY=3600
REFRESH_TOKEN_EXPIRY=604800

# CORS
BACKEND_URL=http://localhost:8000
CORS_LOCAL_ORIGIN=http://localhost:5173
CORS_DEV_ORIGIN=https://localhost:5173
CORS_VERCEL_REGEX=https://.*\.vercel\.app
